.slick-dots.slick-thumb {
    bottom: -80px;
  }
  
  .slick-dots.slick-thumb li {
    width: auto;
    height: auto;
  }
  
  .slick-dots.slick-thumb li img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  